{
    "MongoURI": "mongodb+srv://Admin:<password>@cluster0.swkzu.mongodb.net/myFirstDatabase?retryWrites=true&w=majority",
    "Secret":  "secretstring",
    "Database": "MessengerDev",
    "MasterAdminUsername": "Admin",
    "MasterAdminEmail": "admin@example.com",
    "MasterAdminInitialPassword": "ME1lRBdqSjYCMlwr",
    "Registration": "on",
    "Host": "127.0.0.1",
    "Port": "9999",
    "DBName": "test",
  "compilerOptions": {
    "module": "commonjs",
    "target": "es5",
    "sourceMap": true
  },
  "exclude": [
    "node_modules"
  ]
}