{
    "MongoURI": "mongodb+srv://Admin:<password>@cluster0.swkzu.mongodb.net/myFirstDatabase?retryWrites=true&w=majority",
    "Secret":  "",
    "Database": "",
    "MasterAdminUsername": "",
    "MasterAdminEmail": "",
    "MasterAdminInitialPassword": "",
    "Registration": "on",
    "Host": "",
    "Port": "",
    "DBName": "",
  "compilerOptions": {
    "module": "commonjs",
    "target": "es5",
    "sourceMap": true
  },
  "exclude": [
    "node_modules"
  ]
}